name: Install Metacall on Linux Test

on: [push, pull_request]

jobs:
  install-default:
    name: Install Metacall via Default Installation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Tests
        run: |
          ./test.sh