name: Install MetaCall on Linux Test

on: [push, pull_request, workflow_dispatch]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  trigger-cli-build:
    name: Trigger CLI Docker Build
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request'
    steps:
      - uses: actions/checkout@v4

      - name: Trigger metacall/cli Build Workflow
        uses: convictional/trigger-workflow-and-wait@v1.6.1
        with:
          owner: metacall
          repo: cli
          github_token: ${{ secrets.G_PERSONAL_ACCESS_TOKEN }}
          workflow_file_name: docker-hub.yml
          wait_workflow: true
          ref: master

  install-local:
    name: Install MetaCall via Default Installation (local)
    runs-on: ubuntu-latest
    if: always()
    needs: trigger-cli-build
    steps:
      - uses: actions/checkout@v4
      - name: Tests
        run: ./test.sh

  install-remote:
    name: Install MetaCall via Default Installation (remote)
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request'
    needs: trigger-cli-build
    steps:
      - uses: actions/checkout@v4
      - run: echo "METACALL_INSTALL_CERTS=certificates_remote" >> $GITHUB_ENV
      - name: Tests
        run: ./test.sh
